<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Graduation project</title>
</head>
<body>
<h3>Graduation Project </a></h3>
<nav class="nav">
    <a href=registration.html class="nav-element this-page">Registration</a>
    <!--<a href=pattern.html class="nav-element">шаблон2</a>
    <a href=pattern.html class="nav-element">шаблон3</a>
    <a href=pattern.html class="nav-element">шаблон4</a>
    <a href=pattern.html class="nav-element">шаблон5</a>-->
</nav>
</body>
</html>

